/*general*/
html {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
}

h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #399bd1;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

.center-text {
    text-align: center;
    padding-top: 11.85rem;
    padding-bottom: 11.85rem;
}

img {
    width: 100%;
    height: auto;
}

.image-container img {
    opacity: 0.5;
    transition-property: transform;
    transition-duration: 0.5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

.image-container {
  overflow: hidden;
}

/*navigation bar*/
.navbar-default .navbar-nav > .active > a {
    color: #399bd1;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: #399bd1;
}

.navbar-default .navbar-nav li {
    font-size: 1.1rem;
    font-weight: bold;
}

/*main section*/
.jumbotron.jumbotron-bike {
    background-image: url(../images/jumbotron-bike.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron.jumbotron-beer {
    background-image: url(../images/jumbotron-beer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron.jumbotron-duffel {
    background-image: url(../images/jumbotron-duffel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron.jumbotron-flowers {
    background-image: url(../images/jumbotron-flowers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron.jumbotron-bike h1,
.jumbotron.jumbotron-beer h1,
.jumbotron.jumbotron-duffel h1,
.jumbotron.jumbotron-flowers h1 {
    font-family: Monoton;
    tex-align: center;
    font-size: 7.1rem;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.jumbotron.jumbotron-bike p,
.jumbotron.jumbotron-beer p,
.jumbotron.jumbotron-duffel p,
.jumbotron.jumbotron-flowers p {
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    max-width: 51.3rem;
    margin: auto;
}

.jumbotron.jumbotron-bike .btn,
.jumbotron.jumbotron-beer .btn,
.jumbotron.jumbotron-duffel .btn,
.jumbotron.jumbotron-flowers .btn,
 footer .btn {
    width: 11.4rem;
    padding: 1.3rem;
    margin-top: 2.8rem;
    background-color: #399bd1;

}

.jumbotron.jumbotron-bike > .btn.btn-primary.btn-large > a:hover,
footer > .btn.btn-primary.btn-large > a:hover
 {
    color: #399bd1;
}

.btn-primary {
    /*inactive*/
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.btn-primary:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/*featured project*/
.featured-project h2 {
    margin-bottom: 20px;
}

.featured-project ul li {
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.7);
}

.active h3 {
    color: #399bd1;
}

footer {
    background-color: #f3f3f3;
}

footer strong {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.4rem;
}

footer p {
    max-width: 42rem;
    margin: auto;
}

footer .btn {
    margin-bottom: 5.2rem;
}


/*mobile*/
@media only screen and (max-width: 480px) {
    nav img {
        display: none;
        }

    .jumbotron.jumbotron-bike h1 {
        font-size: 5.7rem;
}
}

